<section class="mainbar" data-ng-controller="jobsea as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                        <!--<pre>{{vm.maa.data | json}}</pre>-->
                        <input data-ng-model="vm.filter.name" placeholder="Find jobsea by name"/>
                        <table class="table table-condensed table-striped">
                            <thead>
                            <tr>
                                <th>岗位</th>

                                <th>岗位描述</th>
                                <th>是否接单</th>
                            </tr>
                            </thead>
                            <tbody>

<!--
                            <tr data-ng-repeat="c in vm.maa | filter:vm.filter track by c.id">


                                <td><img
                                        ng-src="{{c.thumbnail.path}}.{{c.thumbnail.extension}}"
                                        class="jobsea-thumb img-rounded"/></td>
                                <td><span class="jobsea-name">{{c.name}}</span></td>
                                <td>{{c.description | limitTo: 2000 }} ...</td>
                            </tr>
-->


                            <tr data-ng-repeat="a in vm.jobsea">
                                        <td>{{a.name}}</td>
                                        <td>{{a.character}}</td>
                                        <td color='green'>
                                           <button ng-click="accept()">accept</button>
                                        </td>

                            </tr>


                            </tbody>
                        </table>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
