    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/new_js/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/new_js/dist/js/sb-admin-2.js"></script>


    <link href="/static/new_js/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/new_js/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/new_js/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/new_js/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/new_js/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<div data-cc-sidebar data-ng-controller="sidebar as vm">
    <div class="sidebar-inner">
         <div class="sidebar-filler">
              <ul class="nav" id="side-menu" style="margin-top:80px">
                  <li>
                      <a style="font-size:23px" href="#"><i class="fa fa-sitemap fa-fw"></i>计算平台<span class="fa arrow"></span></a>
                      <ul class="nav nav-second-level">
                               <li>
                                    <a href="#">常用计算<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">k元子集</a>
                                        </li>
                                        <li>
                                            <a href="#">计算群</a>
                                        </li>
                                        <li>
                                            <a href="#">划分轨道</a>
                                        </li>
                                        <li>
                                            <a href="#">计算关系</a>
                                        </li>
                                        <li>
                                            <a href="#">创建矩阵</a>
                                        </li>
                                         <li>
                                            <a href="#">求解矩阵</a>
                                        </li>
                                        <li>
                                            <a href="#">还原结果</a>
                                        </li>
                                    </ul>
                               </li>
                               <li>
                                   <a href="#">常用问题<span class="fa arrow"></span></a>
                                   <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">STS</a>
                                        </li>
                                        <li>
                                            <a href="#">CSTS</a>
                                        </li>

                                        <li>
                                            <a href="#">SQS</a>
                                        </li>
                                        <li>
                                            <a href="#">RoSQS</a>
                                        </li>
                                        <li>
                                            <a href="#">CSQS</a>
                                        </li>
                                        <li>
                                            <a href="#">LKTS</a>
                                        </li>
                                         <li>
                                            <a href="#">FDGDD</a>
                                        </li>
                                        <li>
                                            <a href="#">i-Resolvable</a>
                                        </li>
                                   </ul>

                               </li>
                               <li>
                                   <a href="#">其它工具<span class="fa arrow"></span></a>
                                   <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Clique</a>
                                        </li>
                                        <li>
                                            <a href="#">Sage</a>
                                        </li>
                                        <li>
                                            <a href="#">Magma</a>
                                        </li>
                                        <li>
                                            <a href="#">Gap</a>
                                        </li>
                                   </ul>
                               </li>
                      </ul>
                  </li>

                  <li>
                      <a style="font-size:23px" href="#"><i class="fa fa-bar-chart-o fa-fw"></i>所有职位<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                                <li>
                                    <a href="#/plate/detail">进行中</a>
                                </li>
                                <li>
                                    <a href="#/OrderForm">待审核</a>
                                </li>
				<li>
                                    <a href="#/CreateTeam">暂停职位</a>
                                </li>
                                <li>
                                    <a href="#/JobSea">所有职位</a>
                                </li>
				<li>
                                    <a href="#/BuildMatrix">失败职位</a>
                                </li>
				<li>
                                    <a href="#/DancingLink">职位公海</a>
                                </li>
				<li>
                                    <a href="#/BuildRelation">系统建议</a>
                                </li>
                         </ul>
                  </li>
                  <li>
                         <a style="font-size:23px" href="#"><i class="fa fa-table fa-fw"></i>处理简历</a>
                  </li>
                  <li>
                         <a style="font-size:23px" href="#"><i class="fa fa-edit fa-fw"></i>推荐流程</a>
                  </li>
                  <li>
                         <a style="font-size:23px" href="#"><i class="fa fa-wrench fa-fw"></i>咨询机器人<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                             <li>
                               <a href="#">薪资发放</a>
                                </li>
                                <li>
                                    <a href="#">如何增加收入</a>
                                </li>

                                <li>
                                    <a href="#">如何推荐简历</a>
                                </li>
                                <li>
                                    <a href="#">如何邀请好友</a>
                                </li>
                                <li>
                                    <a href="#">如何与客户沟通</a>
                                </li>
                                <li>
                                    <a href="#">如何沟通核实信息</a>
                                </li>
                                <li>
                                    <a href="#">开心聊天</a>
                                </li>
                         </ul>
                  </li>
              </ul>
         </div>
    </div>
</div>





