    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/new_js/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/new_js/dist/js/sb-admin-2.js"></script>


    <link href="/static/new_js/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/new_js/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/new_js/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/new_js/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/new_js/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<div data-cc-sidebar data-ng-controller="sidebar as vm">
    <div class="sidebar-inner">
         <div class="sidebar-filler">
              <ul class="nav" id="side-menu" style="margin-top:60px">
                   <li>
                         <a style="font-size:23px" href="#/"><i class="fa fa-table fa-fw"></i>机器人</a>
                  </li>
                  <li>
                      <a style="font-size:23px" href="#"><i class="fa fa-sitemap fa-fw"></i>计算平台<span class="fa arrow"></span></a>
                      <ul class="nav nav-second-level">
                               <li>
                                    <a href="#"><i class="fa fa-sitemap fa-fw"></i>常用计算<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#/dancing/subset/">k元子集</a>
                                        </li>
                                        <li>
                                            <a href="#/dancing/group/">计算群</a>
                                        </li>
                                        <li>
                                            <a href="#/dancing/orbit/">划分轨道</a>
                                        </li>
                                        <li>
                                            <a href="#/dancing/relation/">计算关系</a>
                                        </li>
                                        <li>
                                            <a href="#/dancing/matrix/">创建矩阵</a>
                                        </li>
                                         <li>
                                            <a href="#/dancing/solve/">求解矩阵</a>
                                        </li>
                                        <li>
                                            <a href="#/dancing/recovery/">还原结果</a>
                                        </li>
                                    </ul>
                               </li>
                               <li>
                                   <a href="#"><i class="fa fa-sitemap fa-fw"></i>常用问题<span class="fa arrow"></span></a>
                                   <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">STS</a>
                                        </li>
                                        <li>
                                            <a href="#">CSTS</a>
                                        </li>

                                        <li>
                                            <a href="#">SQS</a>
                                        </li>
                                        <li>
                                            <a href="#">RoSQS</a>
                                        </li>
                                        <li>
                                            <a href="#">CSQS</a>
                                        </li>
                                        <li>
                                            <a href="#">LKTS</a>
                                        </li>
                                         <li>
                                            <a href="#">FDGDD</a>
                                        </li>
                                        <li>
                                            <a href="#">i-Resolvable</a>
                                        </li>
                                   </ul>

                               </li>
                               <li>
                                   <a href="#"><i class="fa fa-sitemap fa-fw"></i>其它工具<span class="fa arrow"></span></a>
                                   <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Clique</a>
                                        </li>
                                        <li>
                                            <a href="#">Sage</a>
                                        </li>
                                        <li>
                                            <a href="#">Magma</a>
                                        </li>
                                        <li>
                                            <a href="#">Gap</a>
                                        </li>
                                   </ul>
                               </li>
                      </ul>
                  </li>

                  <li>
                      <a style="font-size:23px" href="#"><i class="fa fa-bar-chart-o fa-fw"></i>常用转化<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                                <li>
                                    <a href="#/plate/detail">latex</a>
                                </li>
                                <li>
                                    <a href="#/OrderForm">pdf</a>
                                </li>
				<li>
                                    <a href="#/CreateTeam">word</a>
                                </li>
                                <li>
                                    <a href="#/JobSea">python</a>
                                </li>
				<li>
                                    <a href="#/BuildMatrix">c++</a>
                                </li>
				<li>
                                    <a href="#/DancingLink">english</a>
                                </li>
				<li>
                                    <a href="#/BuildRelation">japanese</a>
                                </li>
                         </ul>
                  </li>
                  <li>
                         <a style="font-size:23px" href="#"><i class="fa fa-table fa-fw"></i>知识积累</a>
                  </li>
                  <li>
                         <a style="font-size:23px" href="#"><i class="fa fa-edit fa-fw"></i>工作日记</a>
                  </li>
                  <li>
                         <a style="font-size:23px" href="#"><i class="fa fa-wrench fa-fw"></i>咨询机器人<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">咨询天气</a>
                                </li>
                                <li>
                                    <a href="#">咨询电话</a>
                                </li>

                                <li>
                                    <a href="#">咨询邮箱</a>
                                </li>
                                <li>
                                    <a href="#">查找论文</a>
                                </li>
                                <li>
                                    <a href="#">笑话娱乐</a>
                                </li>
                                <li>
                                    <a href="#">音乐推荐</a>
                                </li>
                                <li>
                                    <a href="#">旅游推荐</a>
                                </li>
                                <li>
                                    <a href="#">要事提醒</a>
                                </li>

                         </ul>
                  </li>
              </ul>
         </div>
    </div>
</div>





