<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">Welcome, {{vm.data[0].name}}</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
         <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right ">
               <li class="active"><a href="/design/index/">首页</a></li>
               <li ><a href="#">企业招聘</a></li>
               <li ><a href="#">计算平台</a></li>
               <li ><a href="#">个人求职</a></li>
               <li ><a href="#">注销</a></li>
            </ul>


<!--

               <li ><a href="/hunter/news/">企业招聘</a></li>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="http://www.johnpapa.net/hottowel-angular" target="_blank">
                        Welcome, Zheng Hao
                    </a>
                </li>


                <li class="dropdown dropdown-big">
                    <a href="http://www.angularjs.org" target="_blank">
                        <img src="/static/html/cohunter/content/images/AngularJS-small.png" />
                    </a>
                </li>
            </ul>
-->
        </div>
    </div>


</nav>
