<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<html>
	<head>
		<title>Design Family</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/regist/css/bootstrap.min.css">
		<script src="/static/regist/js/jquery.min.js"></script>
		<script src="/static/regist/js/bootstrap.min.js"></script>
		<style>
		.header{
			background-color: #3399CC;
			color: #fff;
			padding: 80px 25px;
		}
		.bg-grey{
			background-color: #f4f4f4;
			padding: 10px 25px;
		}
		.footer{
		  position: relative;
		  margin-top: 0px; /* negative value of footer height */
		  height: 0px;
		  clear:both;
		  padding-top:120px;
		}

		</style>
	</head>
	<body style="padding-bottom: 10px">
		<div class="header text-center">		
		<h1><strong>Design 欢迎您！</strong></h1>
		<br>
			<h4>我们致力于组合设计计算， 全心全意为您服务!</h4>
		</div>
		{% block content %}
		{% endblock %}
	<div class="footer">
		<div class="row">
			<div class="col-sm-4" style="background-color:#C8E6C9  ;padding-bottom:20px">
				<div class="container">
				<h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				公司地址：北京交通大学学苑公寓3号</h4>
				</div>
			</div>
			<div class="col-sm-4" style="background-color:#C8E6C9  ;padding-bottom:20px">
				<div class="container">
				<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;
				</h4>
				</div>
			</div>
			<div class="col-sm-4" style="background-color:#C8E6C9  ;padding-bottom:20px">
			<div class="container">
				<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				联系我：13581989543</h4>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>
