<div id="dashboard-view" class="mainbar"  data-ng-controller="robot as vm">
         <link rel="stylesheet" href="/static/css/robot.css">
         <script>
            $('#account').bind('keyup', function(event) {
		if (event.keyCode == "13") {
			//回车执行查询
			$('#submit').click();
		}
	   });
        </script>
        

         <div class="chatContainer">
              <ul class="wei-chat" id=chatPanel>
			<li><img src="/static/images/0.jpg" class="imgright">
                                 <span class="spanright">
                                       <p> 
                                           Hi，我是机器人，我可以查天气，讲笑话，订机票哦~ 除此之外还有几十项实用好玩的功能哦~ 快来试试吧
                                       </p>
                                 </span>
                        </li>
			<li><img src="/static/images/1.jpg" class="imgleft">
                                <span class="spanleft">讲个笑话呗
                                </span>
                        </li>
			<li><img src="/static/images/0.jpg" class="imgright">
                                    <span class="spanright">
                                       <p>病孩："妈妈，发药的阿姨为什么戴口罩？"</p>
                                       <p>妈妈："给你的药很好吃，院长怕她们偷吃了。"</p>
                                       <p>病孩："那给那些拿刀的叔叔戴口罩是怕他们聚餐吧？"</p>
                                    </span>
                        </li>
			<li><img src="/static/images/1.jpg" class="imgleft">
                                    <span class="spanleft">在讲一个笑话
                                    </span>
                        </li>
			<li><img src="/static/images/0.jpg" class="imgright">
                                    <span class="spanright">
                                       <p>父亲："你负责教好你弟弟。"</p>
                                       <p>儿子："如果他不听我的话呢?"</p>
                                       <p>父亲："那就证明你无能。"</p>
                                       <p>儿子："如果不听你的话呢?"</p>
                                       <p>父亲："那就证明……"
                                    </span>
                        </li>
			<li><img src="/static/images/1.jpg" class="imgleft">
                                   <span class="spanleft">我醉了</span>
                        </li>
	     </ul>
         <div >


  	 <div class="inputContainer">
	      <input id="account" class="messageInput" placeholder="你想问机器人什么？" data-input-clear="2" type="text" name="a1">
	      <input class="btnInput" value="发送" id="submit" data-ng-click="sendMessage()" type="submit">
<!--
	      <input class="btnInput" value="发送" id="submit" data-ng-controller="robot" data-ng-click="sendMessage()" type="submit">
-->
 	 </div>

</div>
