.container{
     font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
     border-collapse:collapse;
     margin-top:80px; 
     margin-right:80px; 
     width:80%;
     height:80%;
}
.chatContainer{
     height:80%;
     padding:10px;
     line-height:32px;
     overflow: scroll;
     overflow-x:hidden;
     overflow-y:visible ;
}
.inputContainer{
     width:80%;
     height:10%;
     background: #EFEFF4;
     border-top:1px solid #999;
     padding:4px;
     text-align: center;
     position: fixed;
     bottom: 0;
}
.nameInput{
     border: 0;
     width:80%;
     height:80%;
     display:block;
     margin: 0 auto;
     float:left;
}
.btnInput{
     float:left;
     color: #fff;
     border: 1px solid #007aff;
     background-color: #007aff;
     border-radius: 3px;
     width:15%;
     height:80%;
     font-size: 18px;
     cursor: pointer;
}
.meText{color:#007aff}

.RobotLabel{
     border: 1px solid #007aff;
     font-size:1.1em;
     width:20%;
     text-align:left;
     padding-top:5px;
     padding-bottom:4px;
     background-color:#A7C942;
     color:#ffffff;
}
.RobotMessage{
     border: 1px solid #007aff;
     font-size:1.1em;
     width:20%;
     text-align:left;
     padding-top:5px;
     padding-bottom:4px;
     background-color:#A7C942;
     color:#ffffff;
}
