a,a:link,a:visited{padding:0.2em; color:#00f}
a:hover,a:active{padding:0.2em;text-decoration:none;background-color:#efdfd0}
body{background-color:#ffefe0; color:#000; font-family:aerial,hevetica,sans-serif;padding:10px 0 0 0}
.RecoverScroll{background-color:#fff; color:#00f; font-weight:bold; border:4px outset #ccc; text-align:center; padding:0;margin:0}
.pStyle{text-align:center}
.heading{color:#000; font-size:1.2em;font-weight:bold;letter-spacing:0.3em}
li{line-height:1.5em}
.filler{width:100%; color:#000; background-color:#efdfcf; padding:0.5em; line-height:1.5em}
input{color:#000;background-color:#fff; border:4px inset #efdfcf}
